 {% load static %}
  <footer class="site-footer" style="background-image: url({% static 'images/img_bg_4.jpg' %});">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum
            illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Categories</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Categories</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">+977 9862170694</a></li>
                <li><a href="#">mandalktaanees12@gmail.com</a></li>
                <li><a href="#">+977 9815364509</a></li>
                <li><a href="#">+977 9804782268</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved to <a href="www.google.com" target="_blank">TFR</a>
           
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->